body {
    background-color: white;
}

.App-header {
    background-color: #2d2d2d;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.App-title {
    font-size: 3.0em;
    color: #33cccc;
    font-family: Arial;
}

.App-intro {
    font-size: large;
    font-style: normal;
    font-family: Courier;
}

.code-font {
    font-size: 15px;
}

.Navbar {
    border-radius: 0px;
    font-family: Courier;
    font-size: large;
    font-weight: bold;
}

.Mainbutton {
    text-align: center;
    padding: 20px;
}

.allButtons {
    padding: 0px 0px;
    border: none;
    background: transparent;
    box-shadow: none;
}

.allButtons:hover {
    background: transparent;
}

.CreateTest {
    padding: 30px;
}

.container {
    display: flex;
    /* justify-content: center; */
}

.object_container {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

#input-field {
    max-width: 100px;
}

.dropdown_customized {
    max-width: 220px !important;
}

.dropdown_customized .rw-widget-container {
    display: inline !important;
}

.dropdown_customized .rw-widget-container {
    border: none !important;
    border-bottom: 1px solid rgb(186, 187, 190) !important;
    background-color: transparent !important;
    padding: 5px !important;
    color: rgb(125, 125, 133) !important;
    border-radius: 0px !important;
    box-shadow: unset;
}

.flex-container-end {
    align-self: flex-end;
}

#dropdown {
    width: 100%;
}

#drop-down-set-width {
    width: 80%;
}

#dropdown-width {
    min-width: 200px !important;
}

#object__dropdown--width {
    min-width: 300px;
}

#setmargin__left {
    margin-left: 50%;
}

.form {
    position: relative;
}

.Dropdowns {
    padding: 25px;
    text-align: center;
}

.Select-clear-zone {
    display: none !important;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

.modal-container {
    position: relative;
}

.customized_panel .panel {
    max-width: 80%;
    min-height: 250px;
    margin: 20px;
}

.code {
    font-family: Courier;
    font-weight: bold;
    color: #292727;
    font-size: 1.13em;
}

.more-options {
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.more-options:hover .dropdown-menu {
    display: block;
}

.blueTag {
    color: #1d2beb;
}

.orangeTag {
    color: #f55207;
}

.padding {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.printStep {
    display: inline;
    flex-direction: 'row';
    color: rgb(0, 0, 0);
}

.stepInputField {
    display: inline;
    border: none;
    border-bottom: 1px solid rgb(186, 187, 190);
    text-align: center;
    padding: 1px;
    color: rgb(125, 125, 133);
    background: transparent;
}

.description__edit {
    border: none;
    background-color: transparent;
    width: 70%
}

.description__edit--show {
    border-bottom: 1px solid rgb(186, 187, 190);
}

.test__align--left {
    text-align: left;
}

.test__align--right {
    float: right;
}

.displayTest__padding {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

ul.dropdown-menu>li {
    float: left;
    /* display: inline; */
}

ul.dropdown-menu {
    padding-top: 0%;
    padding-bottom: 0%;
}

.dropdown-menu>li>a {
    display: inline;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.highlight-line:hover {
    background: #dadadaec;
}

.highlight-line {
    min-height: 27px;
}

.dropdown-menu {
    min-width: 270px;
    top: 0%;
    right: 100%;
    left: unset;
    margin-top: 0px;
}


/* .align-center {
    min-width: 80%;
    margin-left: 10%;
} */

.align-inline {
    display: inline;
}

.object-field-length {
    max-width: 20%;
}

.Object__float--right {
    float: right;
}

.Object__float--left {
    float: left;
}

.clear {
    clear: both;
}

.Object__flex--end {
    align-self: flex-end;
}

.error {
    border: 1.5px solid rgba(255, 5, 5, 0.384);
}

.set-alert-width {
    width: 60%;
    margin-top: 15px;
    background-color: #f9efbe;
}

.well__size {
    max-width: 70%;
}

.mdi::before {
    font-size: 23px;
    line-height: 20px;
}

.allIcons .mdi {
    top: 4px;
    cursor: pointer;
    color: #fff;
}

.allIcons:hover {
    cursor: pointer;
    color: rgb(4, 134, 134);
}

.blink {
    animation: blinker 1s linear infinite;
    color: #3e3e41;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.option_width {
    max-width: 10%;
}

.optionTwo_width {
    max-width: 80%;
}

.options_padding {
    align-content: center;
    margin-top: 20px;
}

.method-length .Select-control {
    max-width: 20px;
}

.padding_top {
    padding-top: 10px;
}