.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
    font-size: 3.0em;
    color: #33cccc;
    font-family: Arial;
}

.App-intro {
    font-size: large;
    font-style: normal;
    font-family: Courier;
}

.Navbar {
    border-radius: 0px;
    font-family: Courier;
    font-size: large;
    font-weight: bold;
}

.Mainbutton {
    text-align: center;
    padding: 20px;
}

.allButtons {
    padding: 3px 3px;
}

.CreateTest {
    padding: 30px;
}

.container {
    display: flex;
    max-width: 70%;
}

#input-field {
    max-width: 100px;
}

#dropdown {
    min-width: 700px;
}

.form {
    position: relative;
}

.Dropdowns {
    padding: 25px;
    text-align: center;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

.modal-container {
    position: relative;
}

.panel {
    max-width: 80%;
    min-height: 300px;
    font-style: italic;
    margin: 20px;
}

.code {
    font-family: Courier;
    font-weight: bold;
    color: #292727;
    font-size: 1.13em;
}

.blueTag {
    color: #1d2beb;
}

.orangeTag {
    color: #f55207;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.printStep {
    display: inline;
    flex-direction: 'row';
    color: rgb(0, 0, 0);
}

.stepInputField {
    max-width: 15%;
    display: inline;
    border: none;
    border-bottom: 1px solid rgb(146, 147, 150);
    text-align: center;
    margin: 3px;
    padding: 2px;
    color: rgb(125, 125, 133);
}