.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.App-title {
    font-size: 3.0em;
    color: #33cccc;
    font-family: Arial;
}

.App-intro {
    font-size: large;
    font-style: normal;
    font-family: Courier;
}

.code-font {
    font-size: 16px;
}

.Navbar {
    border-radius: 0px;
    font-family: Courier;
    font-size: large;
    font-weight: bold;
}

.Mainbutton {
    text-align: center;
    padding: 20px;
}

.allButtons {
    padding: 0px 0px;
    border: none;
    background: transparent;
    box-shadow: none;
}

.allButtons:hover {
    background: transparent;
}

.CreateTest {
    padding: 30px;
}

.container {
    display: flex;
    /* max-width: 70%; */
}

#input-field {
    max-width: 100px;
}

#dropdown {
    width: 100%;
}

#drop-down-set-width {
    width: 80%;
}

.form {
    position: relative;
}

.Dropdowns {
    padding: 25px;
    text-align: center;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

.modal-container {
    position: relative;
}

.panel {
    max-width: 80%;
    min-height: 300px;
    font-style: italic;
    margin: 20px;
}

.code {
    font-family: Courier;
    font-weight: bold;
    color: #292727;
    font-size: 1.13em;
}

.more-options {
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.blueTag {
    color: #1d2beb;
}

.orangeTag {
    color: #f55207;
}

.padding {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* .padding:hover {
    background: yellow;
} */

ul {
    list-style-type: none;
    padding-left: 0;
}

.printStep {
    display: inline;
    flex-direction: 'row';
    color: rgb(0, 0, 0);
}

.stepInputField {
    display: inline;
    border: none;
    border-bottom: 1px solid rgb(146, 147, 150);
    text-align: center;
    padding: 2px;
    color: rgb(125, 125, 133);
    background: transparent;
}

.icon-size {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

ul.dropdown-menu>li {
    float: left;
    /* display: inline; */
}

ul.dropdown-menu {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown-menu>li>a {
    display: inline;
    padding-right: 0px;
    min-height: 27px
}

.highlight-line:hover {
    background: yellow;
}

.dropdown-menu {
    min-width: 200px;
    top: 0%;
    right: 100%;
    left: unset;
}

.align-right {
    float: right;
}

.align-center {
    min-width: 80%;
    margin-left: 10%;
}

.align-inline {
    display: inline-block;
}

.object-field-length {
    max-width: 20%;
}

.mdi::before {
    font-size: 20px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.allIcons .mdi {
    cursor: pointer;
    color: #fff;
}

.allIcons:hover {
    cursor: pointer;
    color: rgb(4, 134, 134);
}